.menu {
  width: 100%;
  max-width: 279px;
  padding: 0;
  margin: 0 6px 0 0;
  &-profile {
    display: none;
  }
  &.mobile {
    display: none;
    position: absolute;
    width: 100%;
    max-width: 502px;
    top: 90px;
    left: 64px;
    z-index: 10;
    margin-right: 0;
    background-color: #f9f9fa;
    padding: 32px 0 52px 32px;
    box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
      0px 1px 5px rgba(191, 196, 201, 0.24);
    border-radius: 10px;
    @media screen and (max-width: 600px) {
      max-width: 288px;
      padding: 32px 0 52px 16px;
      margin: 76px 0 0 16px;
    }
    & .menu-profile {
      display: block;
      position: relative;
      margin-top: 10px;
      padding-top: 32px;
      &::before {
        position: absolute;
        content: '';
        height: 1px;
        width: 502px;
        background: #bfc4c9;
        top: 0;
        left: -32px;
        @media screen and (max-width: 600px) {
          width: 288px;
          left: -16px;
        }
      }
    }
  }
  &-link {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.1px;
    color: #363636;
    margin-bottom: 42px;
    transition: 0.2s;
    display: flex;
    align-items: center;
    &--active {
      position: relative;
      color: #f86d0c;
      &::before {
        content: '';
        position: absolute;
        bottom: -18px;
        left: 0;
        height: 1px;
        width: 255px;
        background: #f86d0c;
      }
    }
  }
}

.showcase {
  padding-left: 24px;
  margin-bottom: 42px;
  display: none;
  &.visible {
    display: block;
  }
  &-all {
    display: block;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    &--active {
      display: block;
      font-weight: 700;
      font-size: 18px;
      letter-spacing: 0.1px;
      color: #f86d0c;
      margin-bottom: 16px;
      text-align: left;
      cursor: pointer;
    }
  }
  &-link {
    margin-bottom: 16px;
    color: #363636;
    transition: 0.2s;
    display: flex;
    line-height: 24px;
    &--all {
      margin-bottom: 16px;
      font-weight: 400;
      font-size: 16px;
    }
    &--active {
      font-weight: 700;
      font-size: 18px;
      letter-spacing: 0.1px;
      color: #f86d0c;
      margin-bottom: 16px;
      text-align: left;
      cursor: pointer;
    }
    &-title {
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 0.1px;
      margin-right: 6px;
    }
    &-amount {
      font-weight: 400;
      font-size: 14px;
      letter-spacing: 0.1px;
      color: #a7a7a7;
      margin-left: 6px;
    }
  }
}

.dropdown {
  display: flex;
  max-width: 255px;
  align-items: center;
  position: relative;
  margin-bottom: 42px;
  padding-bottom: 17px;
  font-weight: 700;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: #f86d0c;
  letter-spacing: 0.1px;
  background: inherit;
  cursor: pointer;
  width: 100%;
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background: #f86d0c;
  }
  &-img {
    margin-left: 87px;
    transform: rotate(180deg);
    transition: all 0.3s ease 0s;
    &.hidden {
      display: none;
    }
  }
  &--active {
    margin-bottom: 24px;
    & img {
      margin-left: 87px;
      transform: none;
      transition: all 0.3s ease 0s;
    }
  }
}

@media screen and (max-width: 1055px) {
  .menu {
    display: none;
  }
  .menu.mobile.visible {
    display: block;
  }
}
