.container {
  margin: 0 auto;
  padding: 0 64px;
  width: 100%;
  max-width: 1238px;
  &--main {
    display: flex;
    flex-direction: row;
    margin-top: 62px;
    padding-bottom: 120px;
    @media screen and (max-width: 560px) {
      margin-top: 42px;
      padding-bottom: 171px;
    }
  }
  @media screen and (max-width: 735px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}
