.header {
  padding: 32px 0 15px 0;
  box-shadow: 4px 4px 4px rgba(54, 54, 54, 0.05), -4px 4px 4px rgba(54, 54, 54, 0.05);
  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-info {
    display: flex;
    align-items: center;
  }
  &-title {
    font-weight: 700;
    font-size: 32px;
    margin-left: 126px;
  }
  &-profile {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    &-image {
      width: 58px;
    }
    &-text {
      font-weight: 600;
      font-size: 14px;
      margin-right: 16px;
      font-family: 'Montserrat', sans-serif;
    }
    &-menu {
      z-index: 10;
      position: absolute;
      top: 72px;
      left: -90px;
      background: #ffffff;
      box-shadow: 4px 4px 4px rgba(54, 54, 54, 0.05), -4px 4px 4px rgba(54, 54, 54, 0.05);
      border-radius: 0px 0px 10px 10px;
      display: none;
      align-items: flex-end;
      flex-direction: column;
      padding: 32px 24px 32px 155px;
      &.active {
        display: flex;
      }
    }
    &-toggle {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    &-button {
      font-weight: 700;
      font-size: 18px;
      letter-spacing: 0.1px;
      color: #363636;
      margin-bottom: 32px;
      font-family: 'Montserrat', sans-serif;
      cursor: pointer;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
@media screen and (max-width: 1055px) {
  .header-info-link,
  .header-profile {
    display: none;
  }
  .header-title {
    margin-left: 26.67px;
  }
}

@media screen and (max-width: 560px) {
  .header {
    &-title {
      font-size: 18px;
    }
  }
}
