/* Google Fonts */ 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

/* CSS Reset */
@import url('./assets/reset/reset.css');

/* SCSS Variables */
$mobile-breakpoint: 480px;
$tablet-breakpoint: 1024px;
$desktop-breakpoint: 1280px;

/* Global Styles */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #363636;
  letter-spacing: 0.1px;
  position: relative;
  min-height: 100vh;
}

input {
  font-family: 'Montserrat', sans-serif;
}